{% extends "base.html" %}

{% block head %}

{% endblock %}

{% block body %}
<div class="content">
     <h1 style="text-align: center">Link Takip Edelim!</h1>
    {% if categories|length < 1 %}
    <h4 style="text-align: center"> Henüz bir şey yok. Linkleri Biriktirmeye Başlayalım! Paraaaa!!!!! </h4>
    {% else %}
     <table>
        <th>
            <tr>Kategori</tr>
            <tr>Link</tr>    
            <tr>Link Adı<tr>
            <tr>Link Açıklaması<tr>
        </th>
        {% for category in categories %}
            <th>
                <td>{{ category.category }}</td>
                <td>{{ task.content }}</td>
                <td>{{ task.date_created.date() }}</td>
                <td>{{ task.date_deadline }}</td>
            </th>
        {% endfor %}    
     </table>
    {% endif %}  
     <form action="/" method="POST">
        <input type="text" name="case_number" id="content">
        <label> Dosya No</label>
        <input type="text" name="content" id="content">
        <label> İş İçeriği</label>
        <input type="date" name="date_deadline" id="content"> <label> Ne Zamana?</label>
        <input type="submit" value="Ne Zamana?"> 
     </form>
</div>
{% endblock %}
